/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  box-sizing: border-box;
  margin: 0; }

a, a:visited, a:focus {
  color: #FFF;
  text-decoration: none; }

header,
section {
  height: 100vh; }

html {
  font-size: 16px;
  font-family: 'Lato', sans-serif; }

header .title h1 {
  font-size: 9vw;
  letter-spacing: 1.62vw;
  line-height: 9vw;
  font-weight: 600; }
  @media (min-width: 768px) {
    header .title h1 {
      font-size: 11vw;
      letter-spacing: 1.98vw;
      line-height: 11vw;
      font-weight: 400; } }
  @media (min-width: 1024px) {
    header .title h1 {
      font-size: 5.55vw;
      letter-spacing: 0.999vw;
      line-height: 5.55vw; } }

header .title p {
  font-family: 'Tienne', serif;
  font-size: 6vw;
  font-weight: 700; }
  @media (min-width: 768px) {
    header .title p {
      max-width: 80vw;
      font-size: 5vw;
      line-height: 5vw; } }
  @media (min-width: 1024px) {
    header .title p {
      font-size: 2.67vw;
      line-height: 2.67vw; } }

header .about {
  font-size: 1.1rem;
  line-height: 1.21rem; }
  @media (min-width: 768px) {
    header .about {
      font-size: 3.6vw;
      line-height: 3.6vw; } }
  @media (min-width: 1024px) {
    header .about {
      font-size: 2vw;
      line-height: 2vw; } }

header a {
  font-size: 0.8rem;
  letter-spacing: 0.16rem;
  font-weight: 600;
  padding: 1.2rem 0; }
  @media (min-width: 768px) {
    header a {
      font-size: 2.4vw;
      letter-spacing: 0.48vw;
      padding: 3.6vw 0; } }
  @media (min-width: 1024px) {
    header a {
      font-size: 1.6vw;
      letter-spacing: 0.32vw;
      padding: 2.4vw 0; } }

.job-section .job-title {
  font-size: 2rem; }

.job-section .job-subtitle {
  font-size: 1.4rem; }

.job-section a {
  font-size: 0.8rem;
  letter-spacing: 0.16rem;
  font-weight: 600; }
  .job-section a span {
    position: relative;
    top: 0.12rem;
    margin-left: 0.16rem; }

.contact-section h2 {
  font-size: 2rem; }

.contact-section p {
  font-size: 1.1rem;
  font-weight: 600;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8); }

.contact-section a {
  font-size: 1.4rem; }

footer .signature {
  font-family: 'Rock Salt', cursive;
  font-size: 1.4rem; }

footer a {
  font-size: 2rem; }

header {
  display: -webkit-box;
  display: -moz-box;
  -moz-display: flex;
  -ms-display: flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  background-image: url("../img/header_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50vw top; }
  @media (min-width: 1024px) {
    header {
      background-position: 40vw top; } }
  header .title {
    width: 70vw;
    margin: 0 0 0 5vw; }
    header .title h1 {
      margin: 0;
      color: #000;
      color: rgba(0, 0, 0, 0.6); }
    header .title p {
      max-width: 96%;
      color: #555;
      color: rgba(50, 50, 50, 0.5); }
      header .title p span {
        display: none; }
        @media (min-width: 768px) {
          header .title p span {
            display: inline; } }
  header .about {
    color: #555;
    color: rgba(80, 80, 80, 0.9);
    width: 70vw;
    margin-left: 5vw; }
    @media (min-width: 768px) {
      header .about {
        margin-top: -10vh;
        max-width: 60vw; } }
    @media (min-width: 1024px) {
      header .about {
        max-width: 45vw; } }
  header .actions {
    width: 100%;
    margin: 0 auto;
    display: flex; }
    @media (min-width: 1024px) {
      header .actions {
        width: 55%;
        max-width: 940px;
        margin: 0 auto 0 5vw; } }
    header .actions a {
      margin: auto;
      color: #FFF;
      text-align: center;
      width: 40%;
      max-width: 220px;
      background-color: rgba(0, 0, 0, 0.7);
      transition: background 0.2s linear; }
      header .actions a:hover {
        background-color: rgba(0, 10, 0, 0.9);
        transition: background 0.2s linear; }

.job-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; }
  .job-section:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.65)));
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
    background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
    background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 100%); }
  .job-section:nth-of-type(1) {
    background-image: url("../img/job_bg1.png"); }
    .job-section:nth-of-type(1) div .actions a {
      background-color: #c7af36; }
      .job-section:nth-of-type(1) div .actions a:hover {
        background-color: #8b7a26; }
  .job-section:nth-of-type(2) {
    background-image: url("../img/job_bg2.png"); }
    .job-section:nth-of-type(2) div .actions a {
      background-color: #ed1b2f; }
      .job-section:nth-of-type(2) div .actions a:hover {
        background-color: #ae0e1d; }
  .job-section:nth-of-type(3) {
    background-image: url("../img/job_bg3.png"); }
    .job-section:nth-of-type(3) div .actions a {
      background-color: #f7931e; }
      .job-section:nth-of-type(3) div .actions a:hover {
        background-color: #c26c07; }
  .job-section .card {
    position: relative;
    top: 15%;
    width: 80%;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.9);
    color: #FFF;
    padding: 1rem 0 1rem 3rem;
    max-width: 400px; }
    @media (min-width: 768px) {
      .job-section .card {
        width: 45%; } }
    @media (min-width: 1024px) {
      .job-section .card {
        width: 35%; } }
    .job-section .card .job-details {
      display: none; }
    .job-section .card .actions {
      width: 100%;
      margin: 1rem auto 0 auto;
      display: flex; }
      .job-section .card .actions a {
        margin: auto 1rem auto 0;
        color: #FFF;
        text-align: center;
        width: 40%;
        max-width: 90px;
        padding: 0.6rem 0.5rem;
        transition: background 0.2s linear; }
        @media (min-width: 768px) {
          .job-section .card .actions a {
            width: 30%; } }
        .job-section .card .actions a:hover {
          transition: background 0.2s linear; }

.contact-section {
  background-image: url("../img/contact_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  color: #FFF;
  display: flex;
  flex-flow: column;
  z-index: 1;
  padding: 1rem; }
  @media (min-width: 1024px) {
    .contact-section {
      background-attachment: fixed; } }
  .contact-section:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.65)));
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
    background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
    background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 100%); }
  .contact-section h2 {
    text-align: center;
    margin: auto; }
  .contact-section p {
    margin: auto; }
  .contact-section .actions {
    margin: auto; }
    .contact-section .actions a {
      margin: 1rem auto;
      font-weight: 600;
      display: block;
      width: auto;
      text-align: center;
      padding: 1rem;
      background-color: rgba(0, 160, 90, 0.5);
      transition: background 0.2s linear; }
      .contact-section .actions a:hover {
        background-color: rgba(0, 160, 90, 0.7);
        transition: background 0.2s linear; }

footer {
  background-color: #333;
  color: #FFF;
  padding: 1.4rem 0 0 0;
  text-align: center;
  overflow: hidden; }
  @media (min-width: 1024px) {
    footer {
      display: -webkit-box;
      display: -moz-box;
      -moz-display: flex;
      -ms-display: flexbox;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      padding: 1.4rem 0; } }
  @media (min-width: 1024px) {
    footer .signature {
      margin-left: 3vw; } }
  footer .social-links {
    margin: 1.4rem auto 0 auto;
    display: -webkit-box;
    display: -moz-box;
    -moz-display: flex;
    -ms-display: flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    -webkit-flex-flow: row;
    -moz-flex-flow: row;
    -ms-flex-flow: row;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    list-style: none;
    padding-left: 0; }
    @media (min-width: 1024px) {
      footer .social-links {
        justify-content: flex-end;
        -webkit-justify-content: flex-end;
        -moz-justify-content: flex-end;
        -ms-justify-content: flex-end;
        margin: auto 3vw auto auto;
        width: 30vw; } }
    footer .social-links li {
      height: 3rem;
      position: relative;
      text-align: center; }
      footer .social-links li:nth-of-type(1) a:before {
        background-color: #e5ade0; }
      footer .social-links li:hover:nth-of-type(1) a {
        color: #e5ade0; }
      footer .social-links li:nth-of-type(2) a:before {
        background-color: #000; }
      footer .social-links li:hover:nth-of-type(2) a {
        color: #000; }
      footer .social-links li:nth-of-type(3) a:before {
        background-color: #007bb5; }
      footer .social-links li:hover:nth-of-type(3) a {
        color: #007bb5; }
      footer .social-links li:nth-of-type(4) a:before {
        background-color: #333; }
      footer .social-links li:hover:nth-of-type(4) a {
        color: #333; }
      footer .social-links li:last-of-type a:before {
        background-color: #FFF; }
      @media (min-width: 1024px) {
        footer .social-links li {
          margin: auto 1rem auto 0; }
          footer .social-links li:last-child {
            margin-right: 0; } }
      footer .social-links li:hover a {
        color: #333;
        transition: all 0.2s ease; }
        footer .social-links li:hover a:before {
          top: 0;
          background-color: #FFF;
          transition: all 0.2s ease; }
      footer .social-links li a {
        position: relative;
        transition: all 0.2s ease;
        z-index: 1;
        padding: 0.5rem 0.4rem 0 0.4rem;
        transition: all 0.2s ease; }
        @media (min-width: 1024px) {
          footer .social-links li a {
            padding: 0.5rem 1rem; } }
        footer .social-links li a:before {
          z-index: -1;
          position: absolute;
          content: '';
          top: 110%;
          left: 0;
          width: 100%;
          height: 200%;
          transition: all 0.2s ease; }
          @media (min-width: 1024px) {
            footer .social-links li a:before {
              top: 140%; } }
