html {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

header {
    
    .title {
        h1 {
            $m-size: 9vw;
            font-size: $m-size;
            letter-spacing: $m-size * 0.18;
            line-height: $m-size;
            font-weight: 600;
            
            @include tablet {
                $t-size: 12.2vw;
                font-size: $t-size;
                letter-spacing: $t-size * 0.18;
                line-height: $t-size;
                font-weight: 400;
            }
            
            @include desktop {
                $d-size: 4.45vw;
                font-size: $d-size;
                letter-spacing: $d-size * 0.18;
                line-height: $d-size;                
            }
        }
        
        p {
            font-family: 'Tienne', serif;
            $size: 6vw;
            font-size: $size;
            font-weight: 700;
            
            @include tablet {
                max-width: 52vw;
                $t-size: 4vw;
                font-size: $t-size;
                line-height: $t-size;
            }
            
            @include desktop {
                $d-size: 2.18vw;
                font-size: $d-size;
                line-height: $d-size;            
            }            
        }
    }
    
    .about {
        $size: 1rem;
        font-size: $size;
        line-height: $size * 1.1;
        
        @include tablet {
            $t-size: 3.2vw;
            font-size: $t-size;
            line-height: $t-size;
        }

        @include desktop {
            $d-size: 1.1rem;
            font-size: $d-size;
            line-height: $d-size;            
        }              
    }
    
    a {
        $size: .8rem;
        font-size: $size;
        letter-spacing: $size * 0.2;
        font-weight: 600;
        padding: ($size*1.5) 0;
        
        
        @include tablet {
            $t-size: $size*1.6;
            font-size: $t-size;
            letter-spacing: $t-size * 0.2;
            padding: ($t-size * 1.5) 0;
        }

        @include desktop {
            $d-size: $size*1.2;
            font-size: $d-size;
            letter-spacing: $d-size * 0.2; 
            padding: ($d-size * 1.5) 0;
        } 
    }
}

.job-section {
    .job-title {
        font-size: 2rem;
    }
    
    .job-subtitle {
        font-size: 1.4rem;
    }
    
    .job-details {
        p {
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            hyphens: auto;
        }
    }
    
    a {
        $size: .85rem;
        font-size: $size;
        letter-spacing: $size * 0.2;
        font-weight: 600;
        
        span {
            position: relative;
            top: ($size*0.15);
            margin-left: $size * 0.2;
        }
    }
}

.contact-section {
    h2 {
        font-size: 1.6rem;
    }
    
    p {
        font-size: 1.1rem;
        font-weight: 600;
        text-shadow: 2px 2px 2px rgba(0,0,0,.8);    
    }
    
    a {
        font-size: 1.2rem;
    }
}

footer {
    .signature {
        font-family: 'Rock Salt', cursive;
        font-size: 1.4rem;
        
        @include desktop {
            font-size: 1.2rem;
        }
    }
    
    a {
        font-size: 2rem;
    }
}