*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: $dark-green;
}

body {
  font-family: 'Montserat', sans-serif;
}

a,
a:focus,
a:active,
a:visited,
a:hover {
  display: inline-block;
  text-decoration: none;
  color: #333;
}

h1,
h2,
h3,
p {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
