.contact-section {
    background-image: url('../img/contact_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    color: #FFF;
    display: flex;
    flex-flow: column;
    z-index: 1;
    
    @include desktop {
        background-attachment: fixed;
        flex-flow: row wrap;
    }    
    
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        z-index: -1;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); 
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); 
        background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
        background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);        
    }
    
    padding: 1rem;
    
    h2 {
        text-align: center;
        margin: auto;
        
        @include tablet {
            margin: 20vh auto 20vh auto;
        }
        
        @include desktop {
            margin: auto;
            width: 100%;
        }
    }
    
    p {
        margin: auto;
        
        @include tablet {
            max-width: 60%;
            margin: -5rem auto 5rem auto;
            text-align: center;
        }
        
        @include desktop {
            text-align: left;
            width: 40%;
            margin: 0 0 auto auto;
        }
    }
    
    .actions {
        margin: auto;
        
        @include tablet {
            margin-top: 0;
            width: 100%;
            @include display-flex;
            @include justify-content(space-around);
        }
        
        @include desktop {
            width: 40%;
            margin: 0 auto auto 0;
            @include flex-flow(column);
        }
    
        a {
            margin: 1rem auto;
            font-weight: 600;
            display: block;
            width: auto;
            text-align: center;
            padding: 1rem;
            background-color: rgba(0,160,90,.5);
            transition: background .2s linear;
            
            &:hover {
                background-color: rgba(0,160,90,.7);
                transition: background .2s linear;
            }
            
            @include tablet {
                width: 40%;
            }
            
            @include desktop {
                margin: 0 auto 5vh auto;
                width: 80%;
                max-width: 300px;
            }
            
        }
    }
}