$social-1: #bf72b8;
$social-2: #000;
$social-3: #007bb5;
$social-4: #333;
$social-list: ($social-1, $social-2, $social-3, $social-4);

footer {
    background-color: #333;
    color: #FFF;
    padding: 1.4rem 0 0 0;
    text-align: center;
    overflow: hidden;
    
    .signature {
        font-family: 'Rock Salt', cursive;
        font-size: 1.4rem;
    }
    
    .social-links {
        margin: 1.4rem auto 0 auto;
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        list-style: none;
        padding-left: 0;
        
        li {
            height: 3rem;
            position: relative;
            
            @for $n from 1 through 4 {
                &:hover {
                    &:nth-of-type(#{$n}) {
                        a { 
                            color: nth($social-list, $n);
                        }
                    }
                }
            }            
        
            a {
                position: relative;
                font-size: 2rem;
                transition: all .2s ease;
                z-index: 1;
                padding: .5rem .4rem 0 .4rem;
                
                &:before {
                    z-index: -1;
                    position: absolute;
                    content: '';
                    top: 110%;
                    background-color: #FFF;
                    left: 0;
                    width: 100%;
                    height: 200%;
                    transition: all .2s ease;
                }
                
                &:hover {
                    color: #333;
                    
                    &:before {
                        top: 0;
                    }
                }
            
            }
        }
    }
}