header {
    @include display-flex;
    flex-flow: column;
    justify-content: space-around;
    
    background-image: url('/img/header_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50vw top;
    
    @include desktop {
        background-position: 40vw top;
    }
    
    .title {
        width: 70vw;
        margin: 0 0 0 5vw;
        
        h1 {
            margin: 0;
            color: #000;
            color: rgba(0,0,0,0.6);
        }

        p {
            max-width: 96%;
            color: #555;
            color: rgba(50,50,50,0.5);            
            
            span {
                display: none;
                
                @include tablet {
                    display: inline;
                }
            }
        }
    }
    
    .about {
        color: #555;
        color: rgba(80,80,80,0.9);
        width: 70vw;
        margin-left: 5vw;
        
        @include tablet {
            margin-top: -10vh;
            max-width: 60vw;
        }
        
        @include desktop {
            max-width: 45vw;
        }
    }
    
    .actions {
        width: 100%;
        margin: 0 auto;
        display: flex;
        
        @include desktop {
            width: 55%;
            margin: 0 auto 0 5vw;
        }
        
        a {
            margin: auto;
            color: #FFF;
            text-align: center;
            width: 40%;
            background-color: rgba(0,0,0,.7);
            transition: background .2s linear;
            
            &:hover {
                background-color: rgba(0,10,0,.9);
                transition: background .2s linear;
            }
        }
    }
}