html {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

header {
    
    .title {
        h1 {
            $m-size: 9vw;
            font-size: $m-size;
            letter-spacing: $m-size * 0.18;
            line-height: $m-size;
            font-weight: 600;
            
            @include tablet {
                $t-size: 11vw;
                font-size: $t-size;
                letter-spacing: $t-size * 0.18;
                line-height: $t-size;
                font-weight: 400;
            }
            
            @include desktop {
                $d-size: 5.55vw;
                font-size: $d-size;
                letter-spacing: $d-size * 0.18;
                line-height: $d-size;                
            }
        }
        
        p {
            font-family: 'Tienne', serif;
            $size: 6vw;
            font-size: $size;
            font-weight: 700;
            
            @include tablet {
                max-width: 80vw;
                $t-size: 5vw;
                font-size: $t-size;
                line-height: $t-size;
            }
            
            @include desktop {
                $d-size: 2.67vw;
                font-size: $d-size;
                line-height: $d-size;            
            }            
        }
    }
    
    .about {
        $size: 1.1rem;
        font-size: $size;
        line-height: $size * 1.1;
        
        @include tablet {
            $t-size: 3.6vw;
            font-size: $t-size;
            line-height: $t-size;
        }

        @include desktop {
            $d-size: 2vw;
            font-size: $d-size;
            line-height: $d-size;            
        }              
    }
    
    a {
        $size: .8rem;
        font-size: $size;
        letter-spacing: $size * 0.2;
        font-weight: 600;
        padding: ($size*1.5) 0;
        
        
        @include tablet {
            $t-size: 2.8vw;
            font-size: $t-size;
            letter-spacing: $t-size * 0.2;
            padding: ($t-size * 1.5) 0;
        }

        @include desktop {
            $d-size: 2vw;
            font-size: $d-size;
            letter-spacing: $d-size * 0.2; 
            padding: ($d-size * 1.5) 0;
        } 
    }
}

.job-section {
    .job-title {
        font-size: 2rem;
    }
    
    .job-subtitle {
        font-size: 1.4rem;
    }
    
    .job-details {
    
    }
    
    a {
        $size: .8rem;
        font-size: $size;
        letter-spacing: $size * 0.2;
        font-weight: 600;
    }
}

.contact-section {
    h2 {
        font-size: 2rem;
    }
    
    p {
        font-size: 1.1rem;
        font-weight: 600;
        text-shadow: 2px 2px 2px rgba(0,0,0,.8);    
    }
    
    a {
        font-size: 1.4rem;
    }
}

footer {
    .signature {
        font-family: 'Rock Salt', cursive;
        font-size: 1.4rem;
    }
    
    a {
        font-size: 2rem;
    }
}