.body {
  background: linear-gradient(to bottom left, $white, darken($white, 3%));
  position: relative;

  @media (min-width: 1024px) {
    &.index {
      overflow: hidden;
    }
  }

  &:before {
    content: '';
    background-color: $black;
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 100%;
  }
}
