html {
  scroll-behavior: smooth;
}

.body {
  background: linear-gradient(to bottom right, $white, darken($white, 3%));
  max-width: 100vw;
  overflow-x: hidden;
  font-weight: 300;
  position: relative;


  &:before {
    content: '';
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    border-style: solid;
    border-image-outset: 1;
    border-image-repeat: stretch;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom right, #{$color-main}, #{$color-alt});
    border-image-width: $frame-border-width;
  }


  //border-image fallback
  &:after {
    content: '';
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -4;
    border: $frame-border-width/2 dashed $color-alt;
  }
}

.section-title {
  margin: 0 0 1.5rem 0;
}
