.body {
  background: linear-gradient(to bottom left, $white, darken($white, 3%));
  position: relative;

  @media (width: 768px) {
    height: 100vh;
  }

  @media (width: 1024px) {
    height: auto;
    &.index {
      overflow: hidden;
    }
  }

  @media (min-width: 1024px) and (min-height: 750px) {
    &.index {
      overflow: hidden;
    }
  }

  &:before {
    content: '';
    background-color: $black;
    background-image: linear-gradient(to right, var(--pink-light), var(--yellow-light), var(--green-light), var(--blue-light));
    background-image: linear-gradient(to right, var(--pink-light) 24.99%, var(--yellow-light) 25%, var(--yellow-light) 49.99%, var(--green-light) 50%, var(--green-light) 74.99%, var(--blue-light) 75%, var(--blue-light));
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 100%;
  }
}
