.footer {
  background-color: $color-alt;
  background: linear-gradient(to right, #60288f, #723fd9);
  padding: 1rem 5vmin;
  z-index: 100;
  color: #fafafa;

  &__credits {
    font-weight: 700;
    font-size: .8rem;
    color: #fafafa;
    text-align: right;
  }

  &__quote {
    margin: 1rem auto;
    text-align: center;
    font-size: .9rem;
    max-width: 530px;
    font-style: italic;

    a {
      color: #fafafa;
    }
  }
}
