.header {
  width: 92%;
  max-width: 1100px;
  padding-top: 5vh;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  @media (min-width: 768px) {
    padding-top: 10vh;
  }

  &__title {
    color: #111;
    font-size: 1.3rem;
    font-weight: 400;

    @media (min-width: 768px) {
      width: 80%;
      font-size: 2rem;
    }

    @media (min-width: 1024px) {
      font-size: 2.4rem;
      position: relative;
      top: 5vh;
    }

    &__hello {
      display: block;

      @media (min-width: 1024px) {
        display: inline-block;
        margin-right: .8rem;
      }
    }
  }

  &__name {
    display: inline-block;
    padding: .1rem .6rem .1rem .1rem;
    color: $color-main-dark;
    color: var(--color-main-dark);
    background-color: $color-main-light;
    background-color: var(--color-main-light);
    position: relative;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 100%;
      width: 100px;
      height: 1.5px;
      background-color: $color-main-light;
      background-color: var(--color-main-light);
      z-index: -1;

      @media (min-width: 768px) {
        width: 300px;
      }

      @media (min-width: 1024px) {
        width: 400px;
      }
    }
  }

  &__photo-container {
    box-shadow: 1px 1px 15px rgba(0,0,0,.3);
    width: 100px;
    min-height: 100px;
    background-color: $color-main-dark;
    background-color: var(--color-main-dark);

    @media (min-width: 768px) {
      width: 20%;
    }

    &__photo {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: grayscale(100%);
      opacity: .9;
    }
  }
}
