a {
  color: $color-main;
  text-decoration: none;
  position: relative;
  transition: all .1s linear;
  z-index: 1;

  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: $color-main;
  }

  &:hover {
    color: $color-main;

    &:before {
      opacity: 1;
    }
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    background-color: lighten($color-alt, 25%);
    transition: all .4s ease;
    z-index: -4;
  }

  &:after {
    height: .25rem;
  }

  &:before {
    opacity: 0;
    height: 110%;
  }
}
