.contact {
  background-color: $dark-green;
  background-image: url('../img/bg-contact.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  color: $light-green;
  padding: 0 5vw;
  position: relative;
  z-index: 1;
  display: flex;
  flex-flow: column;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($dark-green,.3);
    z-index: -1;
  }

  &__title {
    font-family: 'Rock Salt', sans-serif;
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  &__text-container {
    margin: auto;
    text-align: center;
  }

  &__text {
    &:first-of-type {
      margin-bottom: .5rem;
    }
  }

  &__actions {
    margin: auto;
    display: flex;
    flex-flow: column;

    .action-link {
      width: 100%;
      margin: 1rem auto;
    }
  }
}
