.footer {
  background-color: $dark-green;
  padding: 1rem 5vw;
  display: flex;
  flex-flow: column;

  &__signature {
    font-family: 'Rock Salt', sans-serif;
    color: $light-green;
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
  }

  .external-links {
    display: flex;

    &__item {
      display: flex;
      margin: auto;
      width: 2rem;
      height: 2rem;

      &:nth-of-type(2) img {
        filter: invert(100%) grayscale(100%);
      }
    }

    &__link {
      margin: auto;

      img {
        filter: grayscale(100%);
        opacity: .5;
        max-width: 100%;
      }
    }
  }
}
