.nav {
  position: relative;
  @media (orientation: portrait) {
    top: -30px;
  }

  @media (min-width: 768px) {
    top: 0;
    display: flex;
    width: 100%;
  }

  &__list {
    list-style: none;

    @media (min-width: 768px) {
      text-align: right;
      margin: 40px 0 auto auto;
      top: -30px;
    }
  }

  &__item {
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: .5rem;

    @media (min-width: 768px) {
      font-size: 1.2rem;
      margin-bottom: .6rem;
    }

    @media (min-width: 1024px) {
      font-size: 1.4rem;
      margin-bottom: .7rem;
    }
  }

  &__link {
    z-index: 10;
  }
}
