.timeline-header {
  background: #fff;
  padding: 5vh 5vw;

  .timeline-header__title {
    font-size: 1.3rem;
    margin-bottom: 1rem;

    &__highlight {
      margin-left: .4rem;
      display: inline-block;
      padding: .1rem .6rem .1rem .1rem;
      color: $dark-green;
      background-color: $light-green;
    }
  }

  .about__text {
    max-width: 560px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
